extends base.pug 

block scripts 
    script(src="/static/script.js") 

block style 
    style 
        include ../static/style.css

block content
  section#introSection
    div Welcome to Yo-Yo Dance School
    div.small Eat Sleep Dance Repeat

  section#missionSection
    h3 Our Mission
    div.card
      p Dance perfection.
      div.card-box
        div.card-img
          img(src="/static/Dancer1.avif", alt="")
        div.card-content
          p This is the best dance academy of the universe.
    div.card
      p Dance the way you like.
      div.card-box
        div.card-img
          img(src="/static/Dancer2.avif", alt="")
        div.card-content
          p This is the best dance academy of the universe.
    div.card
      p Expert Teaching.
      div.card-box
        div.card-img
          img(src="/static/Dancer3.avif", alt="")
        div.card-content
          p This is the best dance academy of the universe.

  section#sponsorsSection
    h3 Our Sponsors
    div#sponsors
      img(src="/static/microsoft.png", alt="", class="spImage")
      img(src="/static/apple.png", alt="", class="spImage")
      img(src="/static/Facebook Colored.png", alt="", class="spImage")
      img(src="/static/Insta Colored.png", alt="", class="spImage")

  footer#footer
    | Copyright © 2019 Yo-YoDanceAcademy.com | All rights reserved

