doctype html 
html 
    head 
        title This is title 
        style 
            include ../static/style.css 
        //- By default app.js search the file inside the views folder, but since we have kept this inside the static folder so first of all we should come out of the file where we are. For this purpose we have '../' operator. This will help us to come out of the existing directory . Then we must write the target directory name , where we want to enter.

    body 
        nav#navbar 
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") classInfo]
                li #[a(href="/") Contact Us]
        section#introSection 
            div  Welcome to Yo-Yo Dance School
            div  Eat Sleep Dance Repeat 
        section#sponsorsSection 
            | section for sponsors 
        footer#footer 
            | our footer here   
        script 
            include ../static/script.js 

