doctype html 
html 
    head 
        title This is title 
        style 
            include ../static/style.css 
        //- By default app.js search the file inside the views folder, but since we have kept this inside the static folder so first of all we should come out of the file where we are. For this purpose we have '../' operator. This will help us to come out of the existing directory . Then we must write the target directory name , where we want to enter.

    body 
        nav#navbar 
            ul 
                div#logo 
                    img(src="/static/DanceLogo.png", alt="")
                    | Yo-Yo Dance
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") classInfo]
                li #[a(href="/") Contact Us]
        section#introSection 
            div Welcome to Yo-Yo Dance School
            div.small  Eat Sleep Dance Repeat 
        section#missionSection
            h3 Our Mission 
            div.card 
                p Dance perfection.
                div.card-box
                    div.card-img 
                        img(src="/static/Dancer1.avif", alt="")
                    div.card-content
                        p This is the best dance academy of the universe.
            div.card 
                p Dance the way you like.
                div.card-box
                    div.card-img 
                        img(src="/static/Dancer2.avif", alt="")
                    div.card-content
                        p This is the best dance academy of the universe.
            div.card 
                p Expert Teaching.
                div.card-box
                    div.card-img 
                        img(src="/static/Dancer3.avif", alt="")
                    div.card-content
                        p This is the best dance academy of the universe.
        section#sponsorsSection 
            h3 Our Sponsors 
            div#sponsors 
                img(src="/static/microsoft.png", alt="",class="spImage")
                img(src="/static/apple.png", alt="",class="spImage") 
                img(src="/static/Facebook Colored.png", alt="",class="spImage")
                img(src="/static/Insta Colored.png", alt="",class="spImage")
        footer#footer 
            | Copyright @ 2019 Yo-YoDanceAcademy.com | All rights reserved
        script 
            include ../static/script.js 

