doctype html 
html 
    head 
        title This is title 
        //- include style.css
    body 
        h1 Yo-Yo Dance School 
        h3= message 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos facere atque voluptatum necessitatibus laudantium vitae veniam pariatur praesentium tempora ducimus voluptate deleniti delectus, saepe suscipit animi consequuntur. Consequuntur, veritatis.

