@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lacquer&family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
#logo{
    display: flex;
    margin: 0px 30px;
    align-items: center;
    color: white;
    font-size: 23px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    background-color: rgb(215, 51, 51);
    padding: 14px 62px;
    font-family: "Yeon Sung", system-ui;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px 25px;
}
#navbar li a:hover{
    color: rgb(8, 8, 8);
}
#introSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: center / cover no-repeat url("/static/DanceImage.webp");
    height: 600px;
    background-color: rgb(220, 76, 76);
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-size: 6rem;
    padding-bottom: 27px;
}
#introSection div.small{
    font-size: 2rem;
}
#missionSection{
    margin: auto;
    height: 300px;
    width: 75%;
    background-color: white;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
}
#missionSection h3{
    text-align: center;
    padding-top: 12px;
    font-size: 2rem;
}
.card{
    border: 2px solid black;
    border-radius: 12px;
    width: 32%;
    margin: 5px;
    height: 233px;
    display: inline-block;
    background-color: #fdf6f4;
}
.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    height: 130px;
    padding: 0px 20px;
}
.card-img img{
    height: inherit;
}
.card-content{
    padding: 0px 10px;
}
.card-content p{
    font-size: 19px;
}
.card p{
    padding: 8px;
    text-align: center;
}
#sponsorsSection{
    height: 300px;
    background-color: #ecd8d2;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
}
#sponsorsSection h3{
    text-align: center;
    padding-top: 12px;
    font-size: 2rem;
}
#footer{
    height: 100px;
}