@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lacquer&family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
#navbar{
    background-color: rgb(215, 51, 51);
    padding: 14px 62px;
    font-family: "Yeon Sung", system-ui;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px 25px;
}
#navbar li a:hover{
    color: rgb(8, 8, 8);
}
#introSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: center / cover no-repeat url("/static/DanceImage.webp");
    height: 300px;
    background-color: rgb(220, 76, 76);
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-size: 3rem;
    padding-bottom: 27px;
}
#introSection div.small{
    font-size: 2rem;
}
#sponsorsSection{
    height: 300px;
    background-color: #ad8d87;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
}
#sponsorsSection h3{
    text-align: center;
    padding-top: 12px;
}
#footer{
    height: 100px;
}